<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="update_grade"
      method="post">
<table border="2" width="70%" algin="center">
<tr>
    {volist name="data" id="value"}
    <th>学生号：</th>
    <td>
        <input type="text" name="sno" value="{$value.sno}" readonly="true"/></td>
</tr>

<tr>
    <th>开课班级号：</th><td><input type="text" name="cou_classno" value="{$value.cou_classno}" readonly="true"/></td>
</tr>
<tr>
    <th>课程名：</th><td><input type="text" name="cname" value="{$value.cname}" readonly="true"/></td>
</tr>
<tr>
    <th>学分：</th><td><input type="text" name="credit" value="{$value.credit}" readonly="true"/></td>
</tr>
<tr>
    <th>类型：</th><td><input type="text" name="type" value="{$value.type}" readonly="true" /></td>
</tr>
<tr>
    <th>状态：</th><td><input type="text" name="state" value="{$value.state}" readonly="true"/></td>
</tr>
<tr>
    <th>平时成绩：</th><td><input type="text" name="usual_score" value="{$value.usual_score}" /></td>
</tr>
<tr>
    <th>期末成绩：</th><td><input type="text" name="final_score" value="{$value.final_score}" /></td>
</tr>
<tr>
    <th>总分：</th><td><input type="text" name="grade" value="{$value.grade}" /></td>
</tr>
<tr>
    <td></td>
    <td><input type="submit" value="确认修改"/></td>
    {/volist}
</tr>
</table>
</form>
</body>
</html>