<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1" cellspacing="0" cellpadding="0" class="dataTable">
    <thead>
    <tr>
        <th class="dataTableHeader">学号</th>
        <th class="dataTableHeader">课程号</th>
        <th class="dataTableHeader">课程名</th>
        <th class="dataTableHeader">学分</th>
        <th class="dataTableHeader">类型</th>
        <th class="dataTableHeader">状态</th>
        <th class="dataTableHeader">成绩</th>
    </tr>
    </thead>
    <tbody>
    {volist name="data" id="value"}
        <tr class="odd_row">
            <td>{$value.sno}</td>
            <td>{$value.cou_classno}</td>
            <td>{$value.cname}</td>
            <td>{$value.credit}</td>
            <td>{$value.type}</td>
            <td>{$value.state}</td>
            <td>{$value.grade}</td>
        </tr>
    {/volist}
    </tbody>
</table>
</body>
</html>