<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1" cellspacing="0" cellpadding="0" class="dataTable">

    <tr>
        <th class="dataTableHeader">课程号</th>
        <th class="dataTableHeader">课程名</th>
        <th class="dataTableHeader">学时</th>
        <th class="dataTableHeader">学分</th>
        <th class="dataTableHeader">类型</th>
        <th class="dataTableHeader">开课班级号</th>
        <th class="dataTableHeader">学期</th>
        <th class="dataTableHeader">状态</th>
        <th class="dataTableHeader">添加教师</th>
    </tr>

    {volist name="data" id="value"}
    <tr>

        <td>{$value.cno}</td>
        <td>{$value.cname}</td>
        <td>{$value.ctime}</td>
        <td>{$value.credit}</td>
        <td>{$value.type}</td>
        <td>{$value.cou_classno}</td>
        <td>{$value.term}</td>
        <td>{$value.state}</td>
        <td><a href="edit_teacher?cou_classno={$value.cou_classno}">添加教师</a></td>
    </tr>
    {/volist}

    </thead>
    <tbody>
    </tbody>
</table>
</body>
</html>